@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;

}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --secon-bg-color:#292e33;
    --big-font:2.5rem;
    --norma-font:2rem;
    --erick:#ffffff;
    --neon-box-shadow:0 0 .5rem #12f7ff;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
    

}

body{
    font-family:"poppins" ,sans-serif;
    /*background-color: var(--bg-color);*/
    
    color: var(--text-color);
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    
}


.logo{

    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}


span{
    color:var(--hover-color);

}

.navlist{
    display:flex;

}

.navlist a{
    color:var(--text-color);
    font-weight:500;
    padding:10px 20px;
}

.navlist a:hover{
    color: var(--hover-color);
   text-shadow:0 0 10px rgba(18,247,255,0.6),
   0 0 20px rgba(18,247,255,0.6),
   0 0 30px rgba(18,247,255,0.6),
   0 0 40px rgba(18,247,255,0.6),
   0 0 70px rgba(18,247,255,0.6),
   0 0 80px rgba(18,247,255,0.6),
   0 0 100px rgba(18,247,255,0.6),
   0 0 150px rgba(18,247,255,0.6); 
   
}














#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background:var(--hover-color);
    border-radius: 3px;
    color:var(--secon-bg-color);
    display: none;

}

section{
    padding:100px 10%;
}


/*.home{
    min-height: 100vh;
    height:100vh;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    grid-gap:2em;
}


.home-content{
    max-width:600px;

}*/

.home-content h1{
font-size: var(--big-font);
font-weight: 700;

}

.change-text{
    font-size:1.5 rem;
    font-weight: 600;

}

.change-text h3{
display:inline-flex;
margin: 0;
vertical-align: top;


}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    
    

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.home-content p{
    color:#bdbdbd;
    line-height: 1.39;

}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    margin: 1rem 0 2rem;
}

.info-box h5{
    font-weight: 600;
    color:var(--text-color);
    font-size: 1rem;

}


.info-box span{
font-size: .9rem;
color:#bdbdbd

}

.btn-box{
    display:flex;
    justify-content: space-between;
    width:320px;
    height:45px;
    margin: 1rem 0 1rem;

}



.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width:150px;
    height:100%;
    background: var(--hover-color);
    color:var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius:5px;
    position: relative;
    overflow: hidden;
    
    /*border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}



.btn-box a.btn1{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width:150px;
    height:100%;
    background: var(--hover-color);
    color:var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius:5px;
    position: relative;
    overflow: hidden;
    
    /*border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}






.btn{ 
  transition: transform 0.4s ease-in-out; /* Transition with ease-in-out timing function */
    transform-origin: center; /* Set the transform origin to the center */
}

.btn:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}


.btn1{ 
    transition: transform 0.4s ease-in-out; /* Transition with ease-in-out timing function */
      transform-origin: center; /* Set the transform origin to the center */
  }
  
  .btn1:hover {
      transform: scale(1.1); /* Zoom in effect on hover */
  }


  a.btn::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:var(--erick);
    width: 100%;
    height: 0%;
    z-index: -1;
    transition:.4s;

}

a.btn:hover::before{
    height:100%;


}


a.btn1::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:var(--erick);
    width:100%;
    height: 0%;
    z-index: -1;
    transition:.4s;

}

a.btn1:hover::before{
    height:100%;


}

a.btn:hover{
    color:black;
}

a.btn1:hover{
    color:black;
}

.social-icons{
    margin-top: 1rem;
    display:flex;
    justify-content:space-between;
    width:250px;
    height:40px;
    
}

.social-icons a{
    display:inline-flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;
    background:var(--bg-color);
    color:var(--hover-color);
    border:1px solid var(--hover-color);
    transition:.6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    margin: 0 5px;
    border-radius:5px;
    position:relative;
    z-index: 1;
    overflow: hidden;
    /*border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.social-icons a i{
    font-size: 1.5rem;
    
}



/*.social-icons a {
    display: inline-flex;
    width: 50px;
    height: 50px;  Set the height to match the width for a perfect circle 
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: 0.6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 50%;  Add border-radius to make it a circle 
    margin: 0 5px; 
}*/

.social-icons a:hover{
    color:black;
    background: var(--hover-color);
    
}

.home-image{
    position:relative;

    
}

.img-box{
    text-align:center;
    

}

.img-box img{
    width:100%;
    max-width: 350px;
    height:auto;
    /*border-top-left-radius: 50%;
    border-bottom-right-radius:50%;
    */
    border-top-right-radius: 10%; 
    border-bottom-left-radius:10%;
    border-radius: 5%;
    /*filter: blur(1px);*/
    
}

.liquid-shape{
    position:absolute;
    width:57%;
    height:57%;
    z-index:-1;
    top:17%;
    margin-left:40%;
   /* box-shadow: 0 0 0.3rem #12f7ff;*/
}

/*.liquid-shape:nth-child(2){
    filter: blur(1px);
}*/






/*.btn4{ 
    transition: transform 0.4s ease-in-out; /* Transition with ease-in-out timing function 
      transform-origin: center; /* Set the transform origin to the center *
      background-color:yellowgreen;
      justify-content: space-between;
      
  }
  
  .btn4:hover {
      transform: scale(1.1); /* Zoom in effect on hover *
  }


a.btn4::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:var(--erick);
    width:100%;
    height: 0%;
    z-index: -1;
    transition:.4s;

}

a.btn4:hover::before{
    height:100%;


}



a.btn4:hover{
    color:black;
}*/






.glass-container {
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for the level of transparency */
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(1px); /* Adjust the blur level for the glass effect */
    width: 320px; /* Adjust the width as needed */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */;
    text-align: left;
}


.glass-box h2 {
    font-size: 1rem;
    margin-bottom:1px;
    
}

.glass-box p {
    font-size: 1rem;
    margin-bottom: 1px;
   
}

.glass-box strong {
    font-weight: bold;
}

.cont1{
    
    position:relative;
    margin-top: 20%;

}

.cont2{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:100%;
}





/*workspace card toggling*/
.w3-dropdown-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.w3-dropdown-content.show {
    display: block;
    opacity: 1;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 0.3s forwards;
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.zoom-out {
    animation: zoomOut 0.3s forwards;
}





#wihi{
    background-image: url('weather.webp');
    background-attachment: fixed;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position:center;
}


#wihi1{
    background-image: url('weather.webp');
    background-attachment: fixed;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position:center;
}


#wihi2{
    background-image: url('weather.webp');
    background-attachment: fixed;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position:center;
}



.navbar a.active {
  color: #fff;
  text-decoration: none;
}


.profile-picture{
    box-shadow:#12f7ff;
}




.w3-dropdown-content {
    display: none;
}

.w3-show {
    display: block !important;
}
